<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%-include("include/flash.ejs")%>
    <!-- <%- include("include/nav.ejs") %> -->
    <div class="container">
        <h1>Login</h1>
        <form id="loginForm" action="/login" method="post" >
            <input type="text" placeholder="username" name="username" required>
            <input type="password" placeholder="password" name="password" required>
            <button type="submit">Enter</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
</body>
</html>
