<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form id="registerForm" method="post" action="/register">
            <input type="email" placeholder="email" name="email" required>
            <input type="username" placeholder="username" name="username" required>
            <input type="password" placeholder="password" name="password" required>
            <button type="submit">Enter</button>
        </form>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>

</body>
</html>
